@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Red Hat Display", sans-serif;
    --primary-pale-blue: hsl(225, 100%, 94%);
    --primary-bright-blue: hsl(245, 75%, 52%);
    --neutral-pale-blue: hsl(225, 100%, 98%);
    --neutral-desaturated-blue: hsl(224, 23%, 55%);
    --neutral-dark-blue: hsl(223, 47%, 23%);
    --border-radius: 1rem;

    display: grid;
    place-content: center;
    background: no-repeat var(--primary-pale-blue) url(./images/pattern-background-desktop.svg);
    background-size: contain;
    height: 100vh;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}
p {
    font-size: 16px;
}

@media screen and (max-width: 375px) {
    body {
        background: no-repeat var(--primary-pale-blue) url(./images/pattern-background-mobile.svg);
    }
    main.card {
        max-width: 330px;
    }
}

main.card {
    width: 400px;
    border-radius: var(--border-radius);
    overflow: hidden;
    box-shadow: 0px 14px 36px rgb(0 0 0 / 10%);
    background-color: #fff;
}
img {
    width: 100%;
}

section.contents {
    padding: 2.2rem 2.5rem;
    text-align: center;
    display: grid;
    gap: 1.5rem;
}
section.contents h1 {
    font-weight: 900;
    color: var(--neutral-dark-blue);
}
section.contents p {
    padding: 0 16px;
    color: var(--neutral-desaturated-blue);
    font-size: 14px;
    line-height: 20px;
}
section.contents .plan-card {
    background-color: var(--neutral-pale-blue);
    border-radius: var(--border-radius);
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
}
section.contents .plan-card .price {
    display: flex;
    gap: 1rem;
}
section.contents .plan-card .music-icon {
    width: 48px;
}
section.contents .plan-card h4 {
    color: var(--neutral-dark-blue);
    font-weight: 900;
    margin-bottom: 5px;
}
section.contents .plan-price p {
    padding: 0;
    text-align: start;
    letter-spacing: 1px;
}

section.contents .plan-card a.change-btn {
    font-size: 14px;
    color: var(--primary-bright-blue);
}
section.contents .plan-card a.change-btn:active {
    text-decoration: none;
}

section.contents .payment-btn,
section.contents .plan-card a.change-btn {
    font-weight: 700;
}
section.contents .payment-btn {
    background-color: var(--primary-bright-blue);
    outline: none;
    border: none;
    padding: 15px 0;
    border-radius: 10px;
    color: white;
    box-shadow: 0px 6px 15px hsl(245deg 100% 35% / 44%);
    cursor: pointer;
}
section.contents .payment-btn:active {
    background-color: hsl(246deg 86% 68%);
}
section.contents a.cancel-btn {
    color: var(--neutral-desaturated-blue);
    text-decoration: none;
    font-weight: 700;
    font-size: 14px;
}
section.contents a.cancel-btn:active {
    color: var(--neutral-dark-blue);
}

footer {
    text-align: center;
    margin-top: 8px;
    opacity: .5;
    font-size: 14px;
}